### Desafio: https://www.kaggle.com/competitions/spaceship-titanic/overview/evaluation

In [1]:
# Importando pandas
import pandas as pd

In [2]:
# Lendo a base de treino
train_df = pd.read_csv("train.csv")

In [3]:
# Vizualizando a base
train_df.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False

In [4]:
# Olhando as informações
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [5]:
# Verificando os dados nulos
train_df.isnull().sum().sort_values(ascending=False)

CryoSleep       217
ShoppingMall    208
VIP             203
HomePlanet      201
Name            200
Cabin           199
VRDeck          188
FoodCourt       183
Spa             183
Destination     182
RoomService     181
Age             179
PassengerId       0
Transported       0
dtype: int64

### CryoSleep

In [6]:
# Vendo do que se trata
train_df["CryoSleep"]

0       False
1       False
2       False
3       False
4       False
        ...
8688    False
8689     True
8690    False
8691    False
8692    False
Name: CryoSleep, Length: 8693, dtype: object

In [7]:
# Preenchendo os valores nulos para false
train_df["CryoSleep"] = train_df["CryoSleep"].fillna(False)

### ShoppingMall, FoodCourt, RoomService, Spa, VRDeck

##### RoomService, FoodCourt, ShoppingMall, Spa, VRDeck - Valor cobrado pelo passageiro em cada uma das muitas comodidades de luxo da Nave Espacial Titanic .

#### ShoppingMall

In [8]:
# Vendo do que se trata
train_df["ShoppingMall"]

0          0.0
1         25.0
2          0.0
3        371.0
4        151.0
         ...
8688       0.0
8689       0.0
8690    1872.0
8691       0.0
8692       0.0
Name: ShoppingMall, Length: 8693, dtype: float64

In [9]:
# Preenchendo pela média dos valores
train_df["ShoppingMall"] = train_df["ShoppingMall"].fillna(train_df["ShoppingMall"].mean())

#### FoodCourt

In [10]:
# Vendo do que se trata
train_df["FoodCourt"]

0          0.0
1          9.0
2       3576.0
3       1283.0
4         70.0
         ...
8688    6819.0
8689       0.0
8690       0.0
8691    1049.0
8692    4688.0
Name: FoodCourt, Length: 8693, dtype: float64

In [11]:
# # Preenchendo pela média dos valores
train_df["FoodCourt"] = train_df["FoodCourt"].fillna(train_df["FoodCourt"].mean())

#### RoomService

In [12]:
# Vendo do que se trata
train_df["RoomService"]

0         0.0
1       109.0
2        43.0
3         0.0
4       303.0
        ...
8688      0.0
8689      0.0
8690      0.0
8691      0.0
8692    126.0
Name: RoomService, Length: 8693, dtype: float64

In [13]:
# Preenchendo pela média dos valores
train_df["RoomService"] = train_df["RoomService"].fillna(train_df["RoomService"].mean())

#### Spa

In [14]:
# Vendo do que se trata
train_df["Spa"]

0          0.0
1        549.0
2       6715.0
3       3329.0
4        565.0
         ...
8688    1643.0
8689       0.0
8690       1.0
8691     353.0
8692       0.0
Name: Spa, Length: 8693, dtype: float64

In [15]:
# Preenchendo pela média dos valores
train_df["Spa"] = train_df["Spa"].fillna(train_df["Spa"].mean())

#### VRDeck

In [16]:
# Vendo do que se trata
train_df["VRDeck"]

0          0.0
1         44.0
2         49.0
3        193.0
4          2.0
         ...
8688      74.0
8689       0.0
8690       0.0
8691    3235.0
8692      12.0
Name: VRDeck, Length: 8693, dtype: float64

In [17]:
# Preenchendo pela média dos valores
train_df["VRDeck"] = train_df["VRDeck"].fillna(train_df["VRDeck"].mean())

### Name

In [18]:
# Removendo a coluna
train_df = train_df.drop(["Name"],axis=1)

### VIP

In [19]:
# Vendo do que se trata
train_df["VIP"]

0       False
1       False
2        True
3       False
4       False
        ...
8688     True
8689    False
8690    False
8691    False
8692    False
Name: VIP, Length: 8693, dtype: object

In [20]:
# Preenchendo os valores nulos para false
train_df["VIP"] = train_df["VIP"].fillna(False)

### HomePlanet

In [21]:
# Vendo do que se trata
train_df["HomePlanet"]

0       Europa
1        Earth
2       Europa
3       Europa
4        Earth
         ...
8688    Europa
8689     Earth
8690     Earth
8691    Europa
8692    Europa
Name: HomePlanet, Length: 8693, dtype: object

In [22]:
# Preenchendo pela moda dos valores
train_df["HomePlanet"] = train_df["HomePlanet"].fillna(train_df["HomePlanet"].mode()[0])

### Cabin

In [23]:
# Vendo do que se trata
train_df["Cabin"]

0          B/0/P
1          F/0/S
2          A/0/S
3          A/0/S
4          F/1/S
          ...
8688      A/98/P
8689    G/1499/S
8690    G/1500/S
8691     E/608/S
8692     E/608/S
Name: Cabin, Length: 8693, dtype: object

In [24]:
# Preenchendo pela moda dos valores
train_df["Cabin"] = train_df["Cabin"].fillna(train_df["Cabin"].mode()[0])

### Destination

In [25]:
# Vendo do que se trata
train_df["Destination"]

0         TRAPPIST-1e
1         TRAPPIST-1e
2         TRAPPIST-1e
3         TRAPPIST-1e
4         TRAPPIST-1e
            ...
8688      55 Cancri e
8689    PSO J318.5-22
8690      TRAPPIST-1e
8691      55 Cancri e
8692      TRAPPIST-1e
Name: Destination, Length: 8693, dtype: object

In [26]:
# Preenchendo pela moda dos valores
train_df["Destination"] = train_df["Destination"].fillna(train_df["Destination"].mode()[0])

In [27]:
# Preenchendo pela média dos valores
train_df["Age"] = train_df["Age"].fillna(train_df["Age"].mean())

In [28]:
# Verificando os dados nulos
train_df.isnull().sum().sort_values(ascending=False)

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

In [29]:
# Lendo a base de treino
test_df = pd.read_csv("test.csv")

In [30]:
# Vizualizando a base
test_df.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus

In [31]:
# Verificando os dados nulos
test_df.isnull().sum().sort_values(ascending=False)

FoodCourt       106
Spa             101
Cabin           100
ShoppingMall     98
Name             94
CryoSleep        93
VIP              93
Destination      92
Age              91
HomePlanet       87
RoomService      82
VRDeck           80
PassengerId       0
dtype: int64

In [32]:
# Olhando as informações
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [33]:
# Aqui, vamos apenas repetir todo o tratamento ocorrido em train_df
test_df["Age"] = test_df["Age"].fillna(test_df["Age"].mean())
test_df = test_df.drop(["Name"],axis=1)
test_df["VIP"] = test_df["VIP"].fillna(False)
test_df["HomePlanet"] = test_df["HomePlanet"].fillna(test_df["HomePlanet"].mode()[0])
test_df["Destination"] = test_df["Destination"].fillna(test_df["Destination"].mode()[0])
test_df["Cabin"] = test_df["Cabin"].fillna(test_df["Cabin"].mode()[0])
test_df["CryoSleep"] = test_df["CryoSleep"].fillna(False)
test_df["ShoppingMall"] = test_df["ShoppingMall"].fillna(test_df["ShoppingMall"].mean())
test_df["FoodCourt"] = test_df["FoodCourt"].fillna(test_df["FoodCourt"].mean())
test_df["VRDeck"] = test_df["VRDeck"].fillna(test_df["VRDeck"].mean())
test_df["Spa"] = test_df["Spa"].fillna(test_df["Spa"].mean())
test_df["RoomService"] = test_df["RoomService"].fillna(test_df["RoomService"].mean())

In [34]:
# Verificando os dados nulos
test_df.isnull().sum().sort_values(ascending=False)

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

### Preparação para a criação do modelo

#### Tratando colunas booleanas

In [35]:
# Selecionando as colunas em treino
train_bool_columns = train_df.columns[train_df.dtypes == 'bool']
train_bool_columns

Index(['CryoSleep', 'VIP', 'Transported'], dtype='object')

In [36]:
# Selecionando as colunas em teste
test_bool_columns = test_df.columns[test_df.dtypes == 'bool']
test_bool_columns

Index(['CryoSleep', 'VIP'], dtype='object')

In [37]:
# Utilizando o método replace para substituir false para 0, e true para 1
train_df[train_bool_columns] = train_df[train_bool_columns].replace({False: 0, True: 1})
test_df[test_bool_columns] = test_df[test_bool_columns].replace({False: 0, True: 1})

#### Separando colunas numéricas das não numéricas

In [38]:
# para a base de treino
nr_1 = train_df.columns[train_df.dtypes != 'object']

In [39]:
# para a base de teste
nr_2 = test_df.columns[test_df.dtypes != 'object']

#### Criando novos DataFrames

In [40]:
# para a base de treino
train_df2 = train_df.loc[:, nr_1]
train_df2['PassengerId'] = train_df['PassengerId']
train_df2.head(2)

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerId
0,0,39.0,0,0.0,0.0,0.0,0.0,0.0,0,0001_01
1,0,24.0,0,109.0,9.0,25.0,549.0,44.0,1,0002_01

In [41]:
# para a base de teste
test_df2 = test_df.loc[:, nr_2]
test_df2['PassengerId'] = test_df['PassengerId']
test_df2.head(2)

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,PassengerId
0,1,27.0,0,0.0,0.0,0.0,0.0,0.0,0013_01
1,0,19.0,0,0.0,9.0,0.0,2823.0,0.0,0018_01

#### Separando a base de treino em *treino* e *validação*
##### Usaremos o train_test_split para isso
##### Documentação: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [42]:
# Importando pelo sklearn
from sklearn.model_selection import train_test_split

In [43]:
# Definindo X e y na base de treino
X = train_df2.drop(["PassengerId", "Transported"], axis=1)
y = train_df["Transported"]

In [44]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

#### 1. Regressão logística
##### Documentação: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [45]:
# Importando pelo sklearn
from sklearn.linear_model import LogisticRegression

In [46]:
# Criando o regressor e fazendo o fit
clf_rl = LogisticRegression(random_state=0).fit(X_train, y_train)

In [48]:
# Realizando a previsão
y_clf = clf_rl.predict(X_val)

#### 2. KNN - KNeighborsClassifier
##### Documentação: https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html

In [49]:
# Importando pelo sklearn
from sklearn.neighbors import KNeighborsClassifier

In [50]:
# Criando o regressor e fazendo o fit
clf_knn = KNeighborsClassifier(n_neighbors=3).fit(X_train, y_train)

In [51]:
# Realizando a previsão
y_clf_knn = clf_knn.predict(X_val)

#### 3. Random Forests
##### Documentação: https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

In [52]:
# Importando pelo sklearn
from sklearn.ensemble import RandomForestClassifier

In [53]:
# Criando o regressor e fazendo o fit
clf_rf = RandomForestClassifier(max_depth=2, random_state=0).fit(X_train, y_train)

In [54]:
# Realizando a previsão
y_clf_rf = clf_rf.predict(X_val)

### Cálculo da acurácia para cada um dos modelos
##### Documentação: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html

In [55]:
# Importando pelo sklearn
from sklearn.metrics import accuracy_score

In [56]:
# Acurácia para regressão logística
accuracy_score(y_val, y_clf)

0.766120599512025

In [57]:
# Acurácia para knn
accuracy_score(y_val, y_clf_knn)

0.753224119902405

In [58]:
# Acurácia para random forest
accuracy_score(y_val, y_clf_rf)

0.7385848727779715

In [59]:
# Vizualizando X_train
X_train.head(3)

      CryoSleep   Age  VIP  RoomService  FoodCourt  ShoppingMall   Spa  VRDeck
4696          0  35.0    0       1337.0       49.0          57.0   0.0     0.0
5946          0  28.0    0          0.0      152.0         215.0  30.0   510.0
227           1  43.0    0          0.0        0.0           0.0   0.0     0.0

In [60]:
# Vizualizando test_df2
test_df2.head(3)

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,PassengerId
0,1,27.0,0,0.0,0.0,0.0,0.0,0.0,0013_01
1,0,19.0,0,0.0,9.0,0.0,2823.0,0.0,0018_01
2,1,31.0,0,0.0,0.0,0.0,0.0,0.0,0019_01

In [61]:
# Removemos o "PassengerId" para test_df2 ficar igual ao X_train
X_test = test_df2.drop(["PassengerId"], axis=1)

In [62]:
# Realizando a previsão
y_pred = clf_rl.predict(X_test)

In [63]:
# Selecionando a coluna "Transported"
test_df["Transported"] = y_pred

In [64]:
# Trocando 0 para false e 1 para true
test_df["Transported"] = test_df["Transported"].replace({0: False, 1: True})

In [65]:
# Criando o result
result = test_df[["PassengerId", "Transported"]]

In [66]:
# Exportando para o kaggle
result.to_csv("result.csv", index=False)